<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>all.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ANALYZE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>midi-analysis.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <totalSizeCap>100KB</totalSizeCap>
            <maxFileSize>10KB</maxFileSize>
            <maxHistory>1</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%n------------------------------------------%n%msg</pattern>
        </encoder>
    </appender>

    <logger name="analyze" level="INFO" additivity="false">
        <appender-ref ref="ANALYZE"/>
    </logger>

    <logger name="console" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO" additivity="false">
        <appender-ref ref="ALL"/>
    </root>
</configuration>